:root{

    --border-radius: 8px;
    --includes-color: #e0e0e0;
    --primary-color: #6200ea;
    --secondary-color: #03dac6;
    --tertiary-color: #018786;
    --background-color: #f8f9fa;
    --text-color: #212529;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
header{
    width: 100%;
    background-color: var(--includes-color);
    padding: 10px 0;
}
.header-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--includes-color);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
#burger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
main{
    align-items: center;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column; 
}
fieldset{
    padding: 5px;
    border-radius: var(--border-radius);
}
legend{
    font-weight: bold;
    padding: 0 10px;
}
footer{
    width: 100%;
    background-color: var(--includes-color);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 650px){
    nav{
        display:none;
    }
    #burger{
        display:block;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 1000;
        background-color: var(--includes-color);
        padding: 5px;
        border-radius: var(--border-radius);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        
    }
}